body {
    background-color: forestgreen;
}

h1{
   text-align: center;
    font-size: 75px;
    font-family: Monaco;
    color: white;
}
h2{
   text-align: left;
   font-size: 50px;
    color: white;
}
#GoalsBox{
    width: 250px;
    border: 10px forestgreen;
    padding: 10px;
    margin: 25px;
    font-family: Monaco;
    font-size: larger;
    text-align: left;
    color: white;
}
#Goals{
    font-size: x-large;
    font-family: Monaco;
}
#Goals Header{
    font-family: Monaco;
}