body {
    background-color: forestgreen;
}

h1{
   text-align: center;
    font-size: 75px;
    font-family: Monaco;
    color: white;
}
h2{
   text-align: center;
   font-size: 50px;
    font-family: Monaco;
    color: white;
}
#GoalsBox1{
    text-align: center;
    color: white;
    font-family: Monaco;
    font-size: 25px;
}
#GoalsBox2{
    text-align: center;
    color: white;
    font-family: Monaco;
    font-size: 25px;
}
#GoalsBox3{
    text-align: center;
    color: white;
    font-family: Monaco;
    font-size: 25px;
}
#GoalsBox4{
    text-align: center;
    color: white;
    font-family: Monaco;
    font-size: 25px;
}
#InfoBox{
    text-align: center;
    color: white;
    font-family: Monaco;
    font-size: 25px;
}
#InfoBox{}
h3{
    font-size: 50px;
    color: white;
    font-family: Monaco;
    text-align: center;

}
h4{
    font-size: 50px;
    color: white;
    font-family: Monaco;
    text-align: center;
}
h5{
    font-size: 50px;
    color: white;
    font-family: Monaco;
    text-align: center;

}
#natureImage{

}
#listGoals{

    font-size: 30px;
    font-family: Monaco;
}
#output{
    color: white;
    font-size: 15px;
    font-family: Monaco;
    align-self: center;
    font-size: 30px;

}
#listButon{
    font-family: Monaco;
    font-size: 50px;
    text-color: white;



}
#outputButton{
    font-family: Monaco;
    font-size: 20px;
    text-color: white;
    text-align: center;


}






